.nav navbar-nav{
background-color:rgba(0,0,0,.5);
height: 70px;
width: 100%;
position:fixed;
z-index: 1000;
top: 0px;
}

.nav navbar-nav a:hover{
 color:#EE1395;
}


.nav navbar-nav a{
text-decoration: none;
color:#ffffff;
font-size:18px;
padding: 24px 14px;
display: inline-block;
text-align: right;
}
