.navbar{
  font-size: 20px;
  border-bottom: 3px;
  border-color: red;
  height: 80px;
}

.navbar img{
  height: 50px;
}

body{
  padding-top: 70px;
}

.col-md-4.col-sm-6.col-xs-12{
  background-color: white;
  padding-bottom: 10px;
}

.main-content{
  padding-bottom: 10px;
}

.collapse-navbar-collapse{
  position: fixed;
  text-align: right;
  border-bottom: 5px;
}

.container h2{
  font-size: 200%;
  font-family: Arial, Verdana, sans-seriff;
  color: red;
}

a:link{
  color: #ffffff;
}

a:visited{
  color: #ccd9ff;
}

a:hover{
  color: ##cccccc;
  text-decoration: underline;
}
